$sv-border: #ccc;
$sidebar-width: 14em;

.sorting-visualiser {
  display: flex;
  flex: 100%;
  flex-flow: row wrap;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    flex: 100%;
    padding: .25em .5em;
    height: 2em;
  }

  h1,
  h2,
  h3,
  h4 {
    text-align: center;
  }

  h1 {
    font-size: 450%;
  }

  h2 {
    font-size: 150%;
  }

  h3 {
    font-size: 125%;
  }

  h4 {
    font-size: 112.5%;
  }

  div {
    display: flex;
    flex: 100%;
    flex-flow: row wrap;
    align-items: flex-start;
  }

  p {
    flex: 100%;
  }

  ul {
    display: flex;
    flex: 100%;
    flex-wrap: wrap;
    list-style: none;
  }

  li {
    display: flex;
    flex: 100%;
    padding: .25em .5em;
    line-height: 2em;
    border-bottom: .05em solid $sv-border;

    &:hover {
      background-color: #f4f4f4;
    }
  }

  .bar-normal {
    fill: steelblue;
    background: steelblue;
  }
  .bar-current {
    fill: darkorange;
    background: darkorange;
  }
  .bar-comparison {
    fill: tomato;
    background: tomato;
  }
  .bar-bound {
    fill: yellow;
    background: yellow;
  }
  .bar-normal:hover {
    fill: darkblue;
  }

  .pane {
    display: flex;
    flex: 1;
    margin: .5em .5em 0;
    border: .1em solid $sv-border;
    border-bottom: 0;

    h3 {
      background-color: #eee;
      border-bottom: .05em solid $sv-border;
    }
  }

  .graph {
    flex: 100%;
    height: 21em;
    margin: .5em .5em 0;
  }

  .graph-side-bar {
    flex-wrap: wrap;
  }

  .legend {
    li {
      justify-content: flex-start;

      &:first-of-type {
        border-left: 0;
      }

      div {
        flex: 1;
        min-width: 2em;
        max-width: 2em;
        height: 2em;
        margin-right: .5em;
      }
    }
  }

  .controls {
    li {
      justify-content: space-between;

      input {
        flex: 1;
        text-align: right;
        margin-left: .5em;
      }
    }

    .disabled * {
      color: #aaa
    }
  }

  .properties {
    padding-bottom: .5em;
    border: .1em solid $sv-border;

    p {
      padding: .25em .5em;
    }

    .code-heading {
      margin-top: 1em;
    }
  }

  .code-preview {
    flex: 100%;
    padding: 0 .5em;

    & > * {
      flex: 100%;
      border: .1em solid $sv-border;
    }
  }

}

@media (min-width: 40em) {
  .sorting-visualiser {
    .graph {
      flex: 1;
      margin: .5em;
    }

    .graph-side-bar,
    .controls-and-algorithms {
      min-width: $sidebar-width;
      max-width: $sidebar-width;

      .pane {
        margin-left: 0;
      }
    }

    .algorithm-info {
      flex: 1;
    }

    .controls-and-algorithms {
      order: 2;

      input {
        max-width: 6em;
      }
    }

    .legend {
      flex: 1;

      li {
        justify-content: flex-start;

        div {
          flex: 1;
          min-width: 2em;
          height: 2em;
          margin-right: .5em;
        }

        p {
          flex: 100%;
          line-height: 2em;
        }
      }
    }
  }
}

@media (min-width: 56em) {
  .sorting-visualiser {
    .graph {
      flex: 1;
      margin: .5em;
    }

    .graph-side-bar,
    .controls-and-algorithms {
      min-width: $sidebar-width;
      max-width: $sidebar-width;

      .pane {
        margin-left: 0;
      }
    }

    .algorithm-info {
      flex: 1;
    }

    .controls-and-algorithms {
      order: 2;

      input {
        max-width: 6em;
      }
    }

    .legend {
      flex: 1;

      li {
        justify-content: flex-start;

        div {
          flex: 1;
          min-width: 2em;
          height: 2em;
          margin-right: .5em;
        }

        p {
          flex: 100%;
          line-height: 2em;
        }
      }
    }
  }
}
